# Created by Vercel CLI
ADMIN_EMAIL="xxxxx"
NEXT_PUBLIC_APP_URL="http://localhost:3000/login"

# Stripe
NEXT_PUBLIC_STRIPE_PREMIUM_PRICE_ID="price_xxxxx"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_xxxxx"
NEXT_PUBLIC_STRIPE_STANDARD_PRICE_ID="price_xxxxx"
STRIPE_PREMIUM_PRICE_ID="price_xxxxx"
STRIPE_SECRET_KEY="sk_test_xxxxx"
STRIPE_STANDARD_PRICE_ID="price_xxxxx"
STRIPE_WEBHOOK_SECRET="whsec_xxxxx"

# Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY="xxxxx"
NEXT_PUBLIC_SUPABASE_URL="https://xxxxx.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="xxxxx"

# Resend
RESEND_API_KEY="xxxxx"

# Vercel
VERCEL_OIDC_TOKEN="xxxxx"

# Cron
CRON_SECRET="xxxxx"

# VAPID
NEXT_PUBLIC_VAPID_PUBLIC_KEY="xxxxx"
VAPID_EMAIL="xxxxx"
VAPID_PRIVATE_KEY="xxxxx"